.footer {
	position: absolute;
	left: 0px;
	height: 60px;
}
.icon {
	width: 1em;
	height: 1em;
	vertical-align: -0.15em;
	fill: currentColor;
	overflow: hidden;
}
.mui-active {
	color: #e67171 !important;
	
}
